/array.exe
/diziler.exe
/ehliyet.exe
/harf_sesli_sessiz.exe
/ifelse.exe
/if_else.exe
/kimlik.exe
/kosullu_ifadeler.exe
/loops_c.exe
/random_sayi_olusturma.exe
/sayac.exe
/sayi_tahmin_oyunu.exe
/switch_ay_gun_sayisi.exe
/switch_ay_gün_sayisi.exe
/switch_case1.exe
/switch_ile_tek_cift.exe
/tempCodeRunnerFile.python
/test.c
/test.cpp
/test.exe
/Untitled-1.exe